<section class="section message-center">
	<header class="tt">
		<span class="glyphicon glyphicon-bell"></span>消息中心
	</header>
	<div class="ms-body">
		<header class="ms-tt">
			<ul class="ms-tabs-head J_ms_tab_head">
				<li class="ms-tabs cur">未读</li>
				<li class="ms-tabs">待处理</li>
				<li class="ms-tabs">已读</li>
			</ul>
		</header>
		<div class="ms-tabs-body J_ms_tab_body">
			<ul>
				<li  class="ms-tabs-item cur">
					<ul class="ms-list">
						<li class="msl-item clearfix">
							<div class="col-md-3">
								<i class="user-img">J</i>james
							</div>
							<div class="col-md-7">
								评论了文件：海外接送机_PRD_V0.3- 前台部分.docx
							</div>
							<div class="col-md-2">
								<p>2015-12-07</p>
								<p>17:35</p>
							</div>		
						</li>
					</ul>
				</li>
				<li  class="ms-tabs-item">
					<div class="mstb-tip-box">
					<span class="glyphicon glyphicon-bell icon-bell"></span>
					<p class="mstb-tip">没有待处理文件</p>
					</div>
				</li>
				<li  class="ms-tabs-item">
					<ul class="ms-list">
						<li class="msl-item">
							<div class="col-md-3">
								<i class="user-img">J</i>james
							</div>
							<div class="col-md-7">
								评论了文件：海外接送机_PRD_V0.3- 前台部分.docx
							</div>
							<div class="col-md-2">
								<p>2015-12-07</p>
								<p>17:35</p>
							</div>		
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</section>