<section class="section project-detail">
	<!-- 项目详情 -->
	<header class="tt">
		<span class="glyphicon glyphicon-inbox"></span>项目名称
		<!-- <a href="javascript:;" class="btn new-task-list-btn">新建列表</a> -->
	</header>
	<div class="p-body">
		<ul class="pb-list">
			<li class="pbl-item">
				<ul class="pbli-list">
					<li class="pblil-item pblil-tt">列表名称</li>
					<li class="pblil-item">
						<input type="checkbox" class="task-checkbox">&nbsp;<a href="javascript:;" class="pblil-task pblil-finished">任务内容</a>
					</li>
					<li class="pblil-item">
						<input type="checkbox" class="task-checkbox">&nbsp;<a href="javascript:;" class="pblil-task">任务内容</a>
					</li>
					<li class="pblil-item pblil-new">
						<a class="pblil-new-btn" href="javascript:;">新建任务</a>
					</li>
				</ul>
			</li>
			<li class="pbl-item">
				<ul class="pbli-list">
					<li class="pblil-item pblil-tt">列表名称</li>
					<li class="pblil-item">
						<input type="checkbox" class="task-checkbox">&nbsp;<a href="javascript:;" class="pblil-task">任务内容</a>
					</li>
					<li class="pblil-item">
						<input type="checkbox" class="task-checkbox">&nbsp;<a href="javascript:;" class="pblil-task">任务内容</a>
					</li>
					<li class="pblil-item pblil-new">
						<a class="pblil-new-btn" href="javascript:;" style="display:none">新建任务</a>
						<div class="pblil-new-form">
							<textarea class="pblil-textarea"></textarea>
							<a href="javascript:;" class="btn pblil-sav-btn">保存</a>
							<a href="javascript:;" class="btn pblil-cle-btn">取消</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="pbl-item pbl-item-new">
				<ul class="pbli-list">
					<li class="pblil-item pblil-tt pblil-new">
						<a class="pblil-new-btn" href="javascript:;">新建列表</a>
						<div class="pblil-new-form">
							<input class="pblil-input" placeholder="请输入列表名">
							<a href="javascript:;" class="btn pblil-sav-btn">保存</a>
							<a href="javascript:;" class="btn pblil-cle-btn">取消</a>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>