<section class="section task-list" id="J_task_list">
	<!-- 任务详情 -->
	<header class="tt">
		<span class="glyphicon glyphicon-tasks"></span>{{projectname}}
	</header>
	<ul class="task-status-list" data-projectname="{{projectname}}" data-teamname="teamname">
		<li class="task-box J_project_title" data-projectId="{{projectId}}" data-teamId="{{teamId}}" data-status="1">
			<ul>
				<li class="task-status">要做</li>
				{{each todo}}
				<li><input type="checkbox" class="task-fanish J_task_fanish_btn" {{if $value.finished}}checked=""{{/if}}><span class="J_task_title task-title {{if $value.finished}}finished{{/if}}" data-taskId="{{$value.taskId}}">{{$value.taskname}} </span><span class="glyphicon glyphicon-remove J_delete_task"></span></li>
				{{/each}}
				<li class="form">
					<textarea class="textarea J_task_name" name="task" id="task" cols="10" rows="3"></textarea>
					<button class="btn cfm J_new_task_cfm">创建</button>
					<button class="btn cle J_new_task_cle">取消</button>
				</li>
				<li class="task-new J_new_task_btn">新建任务</li>
			</ul>
		</li>
		<li class="task-box J_project_title" data-projectId="{{projectId}}" data-teamId="{{teamId}}" data-status="2">
			<ul>
				<li class="task-status">正在做</li>
				{{each doing}}
				<li><input type="checkbox" class="task-fanish J_task_fanish_btn" {{if $value.finished}}checked=""{{/if}}><span class="J_task_title task-title{{if $value.finished}}finished{{/if}}" data-taskId="{{$value.taskId}}">{{$value.taskname}} </span><span class="glyphicon glyphicon-remove J_delete_task"></span></li>
				{{/each}}
				<li class="form">
					<textarea class="textarea J_task_name" name="task" id="task" cols="10" rows="3"></textarea>
					<button class="btn cfm J_new_task_cfm">创建</button>
					<button class="btn cle J_new_task_cle">取消</button>
				</li>
				<li class="task-new J_new_task_btn">新建任务</li>
			</ul>
		</li>
		<li class="task-box J_project_title" data-projectId="{{projectId}}" data-teamId="{{teamId}}" data-status="3">
			<ul>
				<li class="task-status">已完成</li>
				{{each done}}
				<li><input type="checkbox" class="task-fanish J_task_fanish_btn" {{if $value.finished}}checked=""{{/if}}><span class="J_task_title task-title{{if $value.finished}}finished{{/if}}" data-taskId="{{$value.taskId}}">{{$value.taskname}} </span><span class="glyphicon glyphicon-remove  J_delete_task"></span></li>
				{{/each}}
				<li class="form">
					<textarea class="textarea J_task_name" name="task" id="task" cols="10" rows="3"></textarea>
					<button class="btn cfm J_new_task_cfm">创建</button>
					<button class="btn cle J_new_task_cle">取消</button>
				</li>
				<li class="task-new J_new_task_btn">新建任务</li>
			</ul>
		</li>
	</ul>
</section>