	<!-- 任务详情 -->
	<header class="tt">
		{{projectname}}
		<div class="tt-right">
			<!-- <span class="tt-item"><span class="glyphicon glyphicon-file-open"></span>删除</span> -->
			<span class="tt-item"><span class="glyphicon glyphicon-remove J_close_pop"></span></span>
		</div>
	</header>
	<div class="task-info">
		<h2 class="ti-tt">{{task.taskname}}</h2>
		<p class="tt-sub J_task_desc" alt="编辑">{{task.taskdesc}}</p>
		<div class="J_taskdesc_form {{if task.taskdesc}}myhide{{/if}}" data-teamId="{{teamId}}" data-projectId="{{projectId}}" data-taskId="{{task.taskId}}">
			<textarea class="tt-textarea" id="taskdesc" name="taskdesc" placeholder="添加任务描述" value="{{task.taskdesc}}"></textarea>
			<div class="btngroup">
				<a href="javascript:;" class="btn btn-save J_taskdesc_cfm">保存</a>
				<a href="javascript:;" class="btn btn-cle J_taskdesc_cle">取消</a>
			</div>
		</div>
		<ul class="tab-head clearfix">
			<li class="tab-head-item cur">评论</li>
			<!-- <li class="tab-head-item">活动</li> -->
		</ul>
		<ul class="tab-body J_comment_list">
		{{each task.comment}}
			<li class="tab-body-list">
				<div class="user-img">{{$value.userheader}}</div>
				<p>{{$value.user}} <span class="tab-update-time">{{$value.date}}</span></p>
				<p class="content-detail">
					{{$value.content}}
				</p>
			</li>
		{{/each}}
		</ul>
		<div class="new-comment J_new_comment_form" data-teamId="{{teamId}}" data-projectId="{{projectId}}" data-taskId="{{task.taskId}}">
			<textarea name="comment" id="comment" cols="30" rows="10" class="nc-textarea"></textarea>
			<div class="tool-bar">
				<a href="javascript:;" class="nc-btn J_new_comment_cfm">发表评论</a>
			</div>
		</div>
	</div>