<section class="section team-management">
	<!-- 团队管理 -->
	<header class="tt"><span class="glyphicon glyphicon-print"></span>团队管理 <a class="btn new-team-btn">新建团队</a></header>
	<div class="tm-itm">
		<h2 class="tmi-tt">我的团队</h2>
		<table class="tmi-table">
			<thead>
				<tr>
					<th>团队名</th>
					<th>所有者</th>
					<th>权限</th>
					<th>管理</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>接送产品团队</td>
					<td>James</td>
					<td>成员</td>
					<td><a class="btn team-exit-btn">退出</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>