<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>外卖系统毕业设计-by许少芬</title>
</head>
<body>
<!-- 引入字体库 -->
<link rel="stylesheet" href="../plugin/font-awesome-4.3.0/css/font-awesome.min.css">
<!-- 引入字体库 -->
<link href="../dist/styles/base.css" rel="stylesheet" type="text/css">
<link href="../dist/styles/reset.css" rel="stylesheet" type="text/css">
	<div class="header">
		<div class="content">
			<div class="logo"></div>
			<div class="search-wrap">
				<input type="text" plasehold="搜索商户或商品" class="s-input">
				<button type="submit" class="s-btn"><i class="fa fa-search"></i></button>
			</div>
			<div class="user-info">
				<a href="/login" class="u-item">登录</a>
				<a href="/register" class="u-item">注册</a>
			</div>
		</div>
	</div><!-- header -->
	<div class="main-body">
<link rel="stylesheet" href="dist/styles/detail.css">
<div class="bread">首页&gt;{{shop.title}}</div>
<div class="shop-des">
	<img src="1.png" alt="{{shop.title}}" class="s-img">
	<div class="s-center">
		<p class="s-title">{{shop.title}}</p>
		<!-- <p>餐饮&ensp;<i class="fa fa-star"></i><i class="fa fa-star-empty"></i>&ensp;<span class="grade">4.3分</span></p> -->
		<p>接单时间：&ensp;{{shop.startsale}}-{{shop.endsale}}</p>
		<p>商铺地址：&ensp;{{shop.address}}</p>
	</div>
	<div class="s-right">
		<div class="s-item">
			<p class="s-val">{{shop.distributiontime}}</p>
			<p class="s-label">平均送达时间</p>
		</div>
		<div class="s-item">
			<p class="s-val">￥{{shop.startingprice}}</p>
			<p class="s-label">起送价</p>
		</div>
		<div class="s-item">
			<p class="s-val">￥{{shop.distributionfee}}</p>
			<p class="s-label">配送费</p>
		</div>
	</div>
</div>
<!-- shop-des END -->
<div class="menu-tab">
	<ul>
		<li class="t-item t-cur">菜单</li>
		<li class="t-item">评价</li>
	</ul>
</div>
<!-- menu-tab END -->
<div class="menu-nav">
	<ul>
		<li class="n-item n-cur">热销菜品</li>
		<li class="n-item">新出菜品</li>
		<li class="n-item">黄焖系列</li>
		<li class="n-item">饮料</li>
	</ul>
</div>
<!-- menu-nav END -->
<div class="menu-list">
	<h2 class="m-title">热销菜品</h2>
	<ul>
	{{each shop.dish as value i}}
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：{{value.salenum}}份</p>
				<div class="l-bottom">
					<span class="l-price">￥{{value.price}}</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li>
		{{/each}}<!-- 
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：221份</p>
				<div class="l-bottom">
					<span class="l-price">￥21</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li>
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：221份</p>
				<div class="l-bottom">
					<span class="l-price">￥21</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li> -->
	</ul>
</div>
<!-- menu-list END -->
<div class="menu-list">
	<h2 class="m-title">热销菜品</h2>
	<ul>
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：221份</p>
				<div class="l-bottom">
					<span class="l-price">￥21</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li>
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：221份</p>
				<div class="l-bottom">
					<span class="l-price">￥21</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- menu-list END -->
<div class="menu-list">
	<h2 class="m-title">热销菜品</h2>
	<ul>
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：221份</p>
				<div class="l-bottom">
					<span class="l-price">￥21</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li>
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：221份</p>
				<div class="l-bottom">
					<span class="l-price">￥21</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li>
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：221份</p>
				<div class="l-bottom">
					<span class="l-price">￥21</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li>
		<li class="l-item">
			<img src="1.png" alt="title" class="l-img">
			<div class="l-info">
				<p class="l-title">黄焖鸡+米饭</p>
				<p class="sale-vol">已售：221份</p>
				<div class="l-bottom">
					<span class="l-price">￥21</span>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- menu-list END -->
<div class="shop-car">
	<p class="s-title"> <i class="fa fa-shopping-cart"></i>购物车是空的</p>
</div>
	</div><!-- main-body -->
	<div class="footer">
	<p>&copy; 2015&emsp;江西师大计算机科学与技术学院科技2班许少芬</p>
	</div>
</body>
</html>
