<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>外卖系统毕业设计-by许少芬</title>
</head>
<body>
<!-- 引入字体库 -->
<link rel="stylesheet" href="plugin/font-awesome-4.3.0/css/font-awesome.min.css">
<!-- 引入字体库 -->
<link href="dist/styles/base.css" rel="stylesheet" type="text/css">
<link href="dist/styles/reset.css" rel="stylesheet" type="text/css">
	<div class="header">
		<div class="content">
			<div class="logo"></div>
			<div class="search-wrap">
				<input type="text" plasehold="搜索商户或商品" class="s-input">
				<button type="submit" class="s-btn"><i class="fa fa-search"></i></button>
			</div>
			<div class="user-info">
				<a href="javascript:;" class="u-item">登录</a>
				<a href="javascript:;" class="u-item">注册</a>
			</div>
		</div>
	</div><!-- header -->
	<div class="main-body">
<link rel="stylesheet" href="dist/styles/index.css">
<ul class="category">
	<li class="c-item cur">附近餐厅</li>
	<li class="c-item">热门餐厅</li>
</ul>
<ul class="filter">
	<li class="f-item"><i class="fa fa-spoon"></i>全部</li>
	<li class="f-item"><i class="fa fa-gift"></i>新店</li>
	<li class="f-item"><i class="fa fa-sun-o"></i>家常快餐</li>
	<li class="f-item"><i class="fa fa-leaf"></i>特色小吃</li>
	<li class="f-item"><i class="fa fa-university"></i>烧烤海鲜</li>
	<li class="f-item"><i class="fa fa-birthday-cake"></i>鲜花蛋糕</li>
	<li class="f-item"><i class="fa fa-coffee"></i>茶品饮料</li>
</ul>
<ul class="option">
	<li class="o-item cur">默认</li>
	<li class="o-item">销量</li>
	<li class="o-item">评分</li>
</ul>
<div class="shop-wrap">
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
	<div class="s-item">
		<img src="1.png" alt="" class="s-img"/>
		<div class="s-des-box">
			<p class="s-title">餐厅名称</p>
			<div><i class="fa fa-star color"></i><i class="fa fa-star-half-o color"></i><span class="s-des">月售12份</span></div>
			<div><span class="s-des">起送：￥20</span><span class="s-time">1小时</span></div>
		</div>
	</div>
</div>
<!-- back-top start-->
<div class="back-top fa fa-chevron-up">

</div>
<!-- back-top end-->
	</div><!-- main-body -->
	<div class="footer">
	<p>&copy; 2015&emsp;江西师大计算机科学与技术学院科技2班许少芬</p>
	</div>
</body>
</html>